body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  margin-top: 50px;
  max-height: 100vh;
  overflow-y: hidden;
  color: #233e63;
}

.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  opacity: 0.5;
  z-index: -1;
}

.logopjc {
  height: 100px;   
}

.pergunta {
  margin-top: 50px;
  margin-bottom: 70px;
  color: #233e63;
  font-size: 14px;
  margin-left: 60px;
}

.navegacao {
 display: flex;
 align-items: center;
 font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  color: #233e63;
}

.container a {
  display: grid;
  place-items: center;
  font-size: 20px;
  text-decoration: none;
  color: #233e63;
  font-weight: 500;
  transition: transform 0.5s;
}

.container a:hover {
  color: #0e799c;
  font-weight: bold;
  transition: transform 1s;
}

.container img {
  height: 120px;
  padding: 15px;
  transition: transform 0.5s;
}

.container img:hover {
  transform: scale(1.1);
}

.rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  background: linear-gradient(to right, #5a99e0, #3341ff00);
  color: black;
}

@media (max-width: 500px) {
  body {
      overflow: visible;
      display: grid;
      gap: 30px;
      background-size: 600px;
  }

  .pergunta {
      font-size: 9px;
      margin: 40px;
      margin-left: 12px;
  }

  .navegacao {
      display: grid;
      place-items: center;
      font-size: 12px;
  }

  .navegacao img {
      height: 70px;
  }

  .container {
      grid-template-columns: 1fr;
      align-items: center;
      font-size: 1px;
      gap: 40px;
  }

  .smart, .computadores, .redes {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }

  .container img {
      height: 50px;
  }

  .container img:hover {
      transform: scale(1.1);
  }

  .container a {
      transition: transform 0.2s;
  }

  .container a:hover {
      transform: scale(1.1);
  }

  .rodape {
      position: fixed;
  }
}
